.header{
    width: 100%;
    background: orange;
    height: 150px;
}
.left-section{
    width: 200px;
    float: left;
    height: 400px;
    background: orchid;
}
.right-section{
    width: 100%;
    height: 400px;
    background: grey;
}
.footer{
    height: 150px;
    width: 100%;
    background: indianred;
}
.content{
    height: 400px;
}
body{
    margin: 0   ;
}