.header{
    background: #3b5998;
    width: 100%;
    height: 75px;
}
body{
    margin: 0;
    font-family: helvetica neue,helvetica,arial, sans-serif;
}
.logo{
    width: 50%;
    padding-top: 31px;
    float:left;
}
.login{
    width: 50%;
    float: left;
    padding-top: 4px;
    
}
.logo-text{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family: helvetica neue,helvetica,arial, sans-serif;
    margin-left: 100px;
    
}
.login-label{
    color: #fff;
    font-size: 13px;
    
}
.login-controls{
    margin-left: 115px;
}
.forgotten{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    color: #9cb4d8;
}
.sub-btn{
    background: #4267b2;
    color: #fff;
    height: 20px;
    border-color: #29487d;
    cursor: pointer;
}

.sub-btn:hover{
    background:lightsteelblue;
}
.left-section{
    width: 50%;
    float: left;
    padding-left: 96px;
    padding-top: 24px;
}
.right-section{
    width: 42%;
    float: left;
}
.main-body{
    background: linear-gradient(white, #D3D8E8);
    height: 640px;
    width: 100%;
}
.image{
    width: 581px;
}
.para{
    font-weight: bold;
    font-size: 21px;
}
.holder{
    margin: 3px;
    width: 98px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
    border-color: #fff;
    border: 2px solid lightgrey;
    padding: 4px;
    border-radius: 4px;
}
.holder1{
    width: 152px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
    border-color: #fff;
    border: 2px solid lightgrey;
    padding: 4px;
    border-radius: 4px;
    
}
.holder2{
    width: 269px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
    border-color: #fff;
    border: 2px solid lightgrey;
    padding: 4px;
    border-radius: 4px;
}
.text1{
    margin-top: -22px;
}
.holder3{
    width: 269px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
    border-color: #fff;
    border: 2px solid lightgrey;
    padding: 4px;
    border-radius: 4px;
    width: 269px;
    padding: 4px;
    margin: 0px;
    padding: 4px;
    padding-top: 5px;
    margin-top: 5px;

}
.text2{
    font-size: 16px;
    color: litegrey;
    color: grey;
    margin-top: 30px;
    margin-bottom: 6px;
}
.holder4{
    margin: 0px;
    float: none;
    border-radius: 3px;
    border-color: lightgrey;
    border: 2px solid lightgrey;
    width: 43px;
    height: 29px;
    width: 60px;
    margin-left: 0px;
    border-radius: 6px;

}
.holder5{
    margin: 0px;
    float: none;
    border-radius: 3px;
    border-color: lightgrey;
    border: 2px solid lightgrey;
    width: 43px;
    height: 29px;
    width: 61px;
    padding: 0px;
    margin: -6px;
    width: 60px;
    margin-left: 2px;
    border-radius: 6px;

}
.holder6{
    margin: 0px;
    float: none;
    border-radius: 3px;
    border-color: lightgrey;
    border: 2px solid lightgrey;
    width: 43px;
    height: 29px;
    width: 61px;
    padding: 0px;
    margin: -1px;
    width: 60px;
    margin-left: 7px;
    border-radius: 6px;
}
.text3{
    font-size: 16px;
    color: litegrey;
    color: grey;
    margin-top: 30px;
    margin-bottom: 6px;
    margin-top: 16px;
    font-size: 17px;
}
.gen{
    width: 16px;
    height: 12px;
}
.text4{
    font-size: 12px;
}
.but{
    width: 164px;
    height: 47px;
    margin-left: 86px;
    border-radius: 6px;
    width: 169px;
    margin-left: 108px;
    background:green;
    color: #fff;
    font-size: 20px;
    font-family: bold 2px;

}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
